@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/earlyaccess/nicomoji.css');

body{
  font-family: 'Nunito Sans';
  font-size: 100%;
}

h1{
  font-size: 3rem;
}
p{
  font-size: 1.25rem;
}
@media (max-width: 992px) {
  h1{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
  }
}
@media (max-width: 576px) {
  p{
    font-size: 0.85rem;
  }
}

/* ----------- Navbar Start ------------- */

#navbar{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #2E1942;
  padding: 1rem;
  font-size: 16px;
}
#navlist{
  margin-left: 3rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar ul{
  display: flex;
  align-items: center;
  list-style-type: none;
}
#navbar ul a{
  color: white;
  padding: 1rem 0;
  margin-right: 4rem;
  transition: all 0.2s;
}
#navbar ul a:hover{
  border-bottom: 2px solid #E14817;
}
.nav-button{
  padding: 1rem;
  border-radius: 20px;
  color: white;
  background-color: #E14817;
}
.nav-button:hover{
  background-color: #ac2b00;
}

#navbar-toggler{
  display: none;
  position: relative;
  cursor: pointer;
  float: right;
  margin-right: 3rem;
  margin-top: 2.5rem;
}
#navbar-toggler span{
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: white;
}
#navbar-toggler span:nth-child(1){
  top: -10px;
}
#navbar-toggler span:nth-child(2){
  width: 15px !important;
}
#navbar-toggler span:nth-child(3){
  top: 10px;
}
.active span{
  position: absolute;
  transform-origin: 1px 1px;
  transition: all 0.5s;
}
.active span:nth-child(1){
  transform: rotate(45deg);
}
.active span:nth-child(2){
  display: none;
}
.active span:nth-child(3){
  transform: rotate(-45deg);
}

@media (min-width: 768px){
  #navlist{
    display: flex !important;
  }
}

@media (max-width: 768px) {
  #navbar, #navlist ul, #navlist ul a, .nav-button, #navbar-toggler{
    display: block;
  }
  #navlist{
    display: none;
    margin: 0 50px;
  }
  #navlist ul{
    padding: 0;
  }
  #navlist ul a{
    padding: 20px 0;
    margin: 0;
  }
  .nav-button{
    text-align: center;
  }
}


/* ----------- Navbar End ------------- */

/* ----------- Hero Starts ------------- */

#hero{
  min-height: 85vh;
  background-color: #342A66;
  padding: 1rem;
  display: flex;
  align-items: center;
}
#hero div{
  max-width: 1400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero article{
  margin-right: 2rem;
  max-width: 600px;
}
#hero h1{
  font-size: 5rem;
  font-weight: 500;
  color: white;
}
#hero span{
  font-family: "Nico Moji";
  color: #E14817;
}
#hero p{
  color: #CFCFD1;
}
@media (max-width: 1280px) {
  #hero img{
    width: 60vw;
    min-width: 250px;
  }
  #hero h1{
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  #hero div{
    justify-content: center;
    flex-wrap: wrap;
  }
  #hero article{
    text-align: center;
    margin-bottom: 2rem;
  }
  #hero h1{
    font-size: 3rem;
  }
  #hero p{
    font-size: 1rem;
  }
}
/* ----------- Hero Ends ------------- */

/*------------ Sponsorship starts ---- */

#sponsorship{
  background-color: #22417C;
  padding: 1rem;
}
.swiper {
  display: flex;
  max-width: 1400px;
  height: 150px;
  margin: 0 auto;
}
.swiper-slide{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.swiper-pagination{
  bottom: -40px;
}
.swiper-pagination-bullet-active {
  background-color: #E14817 !important;
}

@media (max-width: 320px){
  .swiper-slide img{
    width: 50px;
  }
}

/*------------ Sponsorship ends ------ */

/*------------ About Starts ---------- */

#about{
  padding: 4rem 1rem;
  background-color: #F8F8F8;
}
#about > div{
  max-width: 1400px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.about-carousel{
  background-color: #1B273D;
  padding: 0.25rem;
  margin-right: 4rem;
  border-radius: 5px;
}
.swiper-about{
  height: 450px;
  width: 600px;
  overflow: hidden;
}
.swiper-about img{
  width: 100%;
}
#about article{
  max-width: 500px;
}
#about p{
  line-height: 40px;
}
@media (max-width: 992px) {
  .swiper-about{
    height: 300px;
    width: 450px;
    overflow: hidden;
  }
  #about p{
    line-height: 30px;
  }
}
@media (max-width: 768px) {
  #about > div{
    flex-wrap: wrap-reverse;
  }
  .about-carousel{
    margin: 0;
  }
}
@media (max-width: 576px) {
  .swiper-about{
    height: 175px;
    width: 250px;
    overflow: hidden;
  }
  #about p{
    font-size: 0.85rem;
  }
}
/*------------ About Ends ------------ */

/*------------ Events Start ------------ */

#events{
  padding: 4rem 1rem;
}
#events div{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#events h1{
  font-size: 3rem;
  color: #3371F2;
  font-weight: bolder;
  margin: 0 0 4rem 0;
  padding: 0;
  align-self: flex-start;
}
#events img{
  width: 768px;
  min-width: 250px;
}
#events article{
  background-color: #342A66;
  margin-top: -60px;
  border-radius: 30px;
  text-align: center;
  color: white;
  padding: 0.5rem 4rem;
  box-shadow: 4px 4px 17px rgba(27, 39, 61, 0.5);
}
#events article h1{
  font-family: "Nico Moji", 'sans-serif';
  color: #E14817;
  font-weight: light;
  margin: 0;
}
#events article h1 small{
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}
#events article p{
  font-size: 1rem;
}
@media (max-width: 992px) {
  #events h1{
    font-size: 2rem;
  }
  #events article p{
    font-size: 0.85rem;
  }
}
@media (max-width: 768px) {
  #events img{
    width: 100%;
  }
  #events article{
    margin-top: -10px;
    padding: 0.5rem 1rem;
  }
}

/*------------ Events Ends ------------ */

/*------------ Hackathon Start ------------ */

#hackathon{
  padding: 4rem 1rem;
  background-color: #342A66;
  color: white;
}
#hackathon div{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#hackathon p{
  margin: 1rem 0;
  color: #CFCFD1;
}
#hackathon h1 + p{
  max-width: 900px;
}
#hackathon img{
  margin: 2rem 0;
  max-width: 800px;
  width: 90vw;
}
#hackathon a{
  padding: 1rem 4rem;
  border-radius: 10px;
  color: white;
  background-color: #E14817;
  margin-bottom: 2rem;
}
#hackathon a:hover{
  background-color: #ac2b00;
}
/*------------ Hackathon Ends ------------ */

/*------------ Facts Start ------------ */

#facts{
  background-color: #90ACF7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#facts article{
  padding: 5rem;
  max-width: 750px;
  background-color: white;
}
#facts h1{
  font-weight: bold;
  color: #333333;
}
.fact-numbers{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #999999;
  flex-wrap: wrap;
}
.fact-numbers div{
  margin: 1rem;
}
.fact-numbers span{
  font-size: 3rem;
  font-weight: 600;
}
.fact-numbers p{
  margin: 0;
  font-weight: bold;
}
.fact-numbers div:first-child{
  color: #E14817;
}
@media (max-width: 768px) {
  #facts article {
    padding: 2rem;
  }
}
/*------------ Facts Ends ------------- */

/*------------ Testimony Starts ------- */

#testimony{
  padding: 4rem 2rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#testimony > div{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative;
}
#testimony q{
  font-size: 2.5rem;
  font-weight: bold;
  max-width: 500px;
  position: relative;
  margin-bottom: 2rem;
}
.circle{
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-35%, -25%);
  width: 100px;
  height: 100px;
  background-color: #e149173e;
  border-radius: 50%;
  z-index: -1;
}
#testimony q::after, #testimony q::before{
  color: #E14817;
}
#testimony img{
  background-color: #90ACF7;
  border-radius: 50%;
  margin-right: 1rem;
  border: 3px solid black;
}
#testimony > div > div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
}
#testimony h3, #testimony p{
  margin: 0;
  padding: 0;
}
#testimony-slide{
  background: transparent;
  outline: none;
  border: none;
  position: absolute;
  bottom: -4rem;
  left: 0;
}
@media (max-width: 992px) {
  #testimony-slide{
    left: initial;
    right: 0;
  }
}
@media (max-width: 768px) {
  #testimony{
    min-height: 500px;
  }
  #testimony q{
    font-size: 1.5rem;
  }
  #testimony h3{
    font-size: 1rem;
  }
  #testimony p{
    font-size: 0.75rem;
  }
}
/*------------ Testimony Ends --------- */

/*------------ Sponsors Start --------- */

#sponsors{
  background-color: #1B273D;
  padding: 4rem 1rem;
}
#sponsors > div{
  max-width: 1400px;
  margin: 0 auto;
}
#sponsors article{
  color: #E7E7E8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}
#sponsors article h1 {
  max-width: 300px;
}
#sponsors article p { 
  max-width: 600px;
}
/*------------ Sponsors Ends ---------- */

/*------------ Footer Start --------- */

footer{
  padding: 1rem;
}
footer > div > section{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
footer > div > section > p{
  margin-left: 1rem;
  padding-top: 10px;
}
footer > section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer > section > div > svg{
  margin-left: 1rem;
}

/*------------ Footer End --------- */